# Questions, Dataset and motivation section.(2 point)

In [44]:
import pandas as pd

In [45]:
happy_2015 = pd.read_csv("2015.csv")
happy_2016 = pd.read_csv("2016.csv")
happy_2017 = pd.read_csv("2017.csv")
happy_2015.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [46]:
happy_2016.head()

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [47]:
happy_2017.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

# Quality of cleaning (3 points, 1 points each)

Drop the columns which are not useful for or problem. We need to analyze the main factors of making people happy so we eliminate the Happiness Rank, Standard Error, Lower Confidence Interval, Upper Confidence Interval, Whisker.high, and Whisker.low column.

In [48]:
happy_2015=happy_2015.drop(columns=['Happiness Rank','Standard Error'])
happy_2016=happy_2016.drop(columns=['Happiness Rank','Lower Confidence Interval','Upper Confidence Interval'])
happy_2017=happy_2017.drop(columns=['Whisker.high','Happiness.Rank','Whisker.low'])

In [49]:
happy_2015.head()
happy_2015.shape

(158, 10)

In [50]:
happy_2016.head()
happy_2016.shape

(157, 10)

In [51]:
happy_2017.head()
happy_2017.shape

(155, 9)

We rename the columns in happy_2017 in order to make the data more readable. Make all the files have the same column name so that we could concatenate all dataframes together into one data frame.

In [52]:
#happy_2015.rename(index=str, columns={"A": "a", "B": "c"})
#happy_2016.rename(index=str, columns={"A": "a", "B": "c"})
happy_2017=happy_2017.rename(index=str, columns={"Happiness.Score": "Happiness Score", "Economy..GDP.per.Capita.": "Economy (GDP per Capita)","Health..Life.Expectancy.":"Health (Life Expectancy)","Trust..Government.Corruption.":"Trust (Government Corruption)","Dystopia.Residual":"Dystopia Residual"})

In [53]:
happy_2017.head()

,Country,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Generosity,Trust (Government Corruption),Dystopia Residual
0,Norway,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

We concatenate all dataframes together into one data frame

In [55]:
happy = pd.concat([happy_2015,happy_2016,happy_2017],sort=True)
happy.shape

(470, 10)

For the dataframe happy_2017, it does not have the Region column. So when we concatenate all of the, the Region column have a lot of NaN in it. Therefore we match the Region by the same Country from the dataframe happy_2015 and happy_2016. 

The reason we do this is that we want to use Region to analyze happiness. Thus, we have to keep Region and fill all the NaN data.

In [57]:
g = happy.dropna(subset=['Region']).drop_duplicates('Country').set_index('Country')['Region']
happy['Region'] = happy['Region'].fillna(happy['Country'].map(g))

In [58]:
happy1 = happy[happy.isna().any(axis=1)]
happy1

,Country,Dystopia Residual,Economy (GDP per Capita),Family,Freedom,Generosity,Happiness Score,Health (Life Expectancy),Region,Trust (Government Corruption)
32,Taiwan Province of China,2.126607,1.433627,1.384565,0.361467,0.258360,6.422,0.793984,NaN,0.063829
70,"Hong Kong S.A.R., China",0.554633,1.551675,1.262791,0.490969,0.374466,5.472,0.943062,NaN,0.293934

We found two rows still have Region in NaN, we check the Country of these two row and we found both of them are in Eastern Asia, so we fill both Region as Eastern Asia.

In [60]:
happy = happy.fillna("Eastern Asia")
happy.head()

,Country,Dystopia Residual,Economy (GDP per Capita),Family,Freedom,Generosity,Happiness Score,Health (Life Expectancy),Region,Trust (Government Corruption)
0,Switzerland,2.51738,1.39651,1.34951,0.66557,0.29678,7.587,0.94143,Western Europe,0.41978
1,Iceland,2.70201,1.30232,1.40223,0.62877,0.43630,7.561,0.94784,Western Europe,0.14145
2,Denmark,2.49204,1.32548,1.36058,0.64938,0.34139,7.527,0.87464,Western Europe,0.48357
3,Norway,2.46531,1.45900,1.33095,0.66973,0.34699,7.522,0.88521,Western Europe,0.36503
4,Canada,2.45176,1.32629,1.32261,0.63297,0.45811,7.427,0.90563,North America,0.32957

# Visualization (4 points, 1 points each)

# Modelling activity/evaluation/conclusion (5 points equally distributed in following 2 question depending on whether you are building a model or not)

# Conclusion (2 points)